name: CI/CD

on: [push]

env:
  PYTHONDONTWRITEBYTECODE: 1

jobs:
  tests:
    name: Python ${{ matrix.python-version }}

    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install -U tox tox-gh-actions poetry
      - run: tox

  ruff:
    name: Ruff

    runs-on: ubuntu-latest

    container:
      image: python:3.12

    steps:
      - uses: actions/checkout@v4
      - run: pip install -U tox poetry
      - run: tox -e ruff

  coverage:
    name: Coverage

    runs-on: ubuntu-latest

    container:
      image: python:3.12

    steps:
      - uses: actions/checkout@v4
      - run: pip install -U tox poetry
      - run: tox -e coverage
      - uses: "codecov/codecov-action@v3"
        with:
          fail_ci_if_error: true
